.container {
  width: 1441px;
  height: 40px;
  background-color: var(--cta, #6e00a1);
  display: flex;
  width: 1440px;
  height: 40px;
  padding: 10px 0px 11px 18px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
p {
    display: flex;
  color: white;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
